.dnd-library-wrapper .editor-item .meta.type-file {
    background-image: url('icons/document.png');
}
.scald-menu .add-buttons .add-file {
    background: url('icons/document.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-file:hover {
    background-image: url('icons/document-large.png');
}